.header-title {
    font-size: 1.5rem;
    padding-left: 1rem;
}

.form {
    height: 2rem;
    width: 12rem;
    margin: 10px;
}

.button {
    margin: 10px;
}

.aside {
    margin-top: 10px;
    padding: 1rem;
    width: 240px;
    height: 100%;
    border-right: 2px solid #B3B3B3;
}

.content {
    display: flex;
    flex-direction: row;
}

.content > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list {
    margin: 10px;
}